body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2% 0px;
}

/* navbar styles start */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  width: 15%;
}
.navbar__title > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin: 0px !important;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.list__item > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.list__item > a:hover {
  color: #a259ff;
  font-weight: 400;
  transition: 0.8s;
}

.navbar__button {
  display: flex;
  width: 148px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 0px 28px 0px 28px;
  background-color: #a259ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
}
.navbar__button > img {
  width: 27%;
  margin-right: 5%;
}
.navbar__btn_burger {
  display: none;
}
.navbar__left > a {
  text-decoration: none;
}

/* navbar styles end */
/*  burger-menu styles start */
.burger-menu {
  display: none;
  width: 98%;
  background-color: #363638;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  left: 1%;
  border-radius: 10px;
  border: 2px solid white;
  height: min-content;
}

.burger-menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__btn_close {
  width: 4%;
  height: 4%;
  cursor: pointer;
  margin: 4% 0;
}
.burger-menu__input {
  width: 30%;
  height: 20%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

.burger-menu__list {
  list-style-type: none;
  padding: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__item > a {
  text-decoration: none;
  color: white;
}

/*  burger-menu styles end */

.all_content {
  padding: 80px 160px;
  display: flex;
  width: 1050px;
  flex-direction: column;
  justify-content: center;
}

/* marketplace style start */
.marketplace__title {
  font-size: 51px;
  font-weight: 600;
  margin-bottom: 0px;
}
.marketplace__desc {
  font-size: 22px;
  margin-top: 10px;
}
.marketplace__search {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
  margin-top: 10px;
}
.marketplace__input {
  color: #858584;
  background-color: transparent;
  font-size: 16px;
  border: none;
  font-family: Work Sans;
  width: 93%;
  padding: 0px 20px;
}
.marketplace__search_logo {
  width: 24px;
  height: 24px;
  margin-top: 25px;
}
/* ? content styles */
.marketplace_content {
  display: flex;
  flex-direction: column;
}
.marketplace__filter_left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35%;
  padding: 0px 30px;
  border-bottom: 2px solid #858584;
}
.marketplace__filter_left > button {
  border-radius: 20px;
  background: #858584;
  padding: 3px 6px;
  width: 45px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  font-family: Space Mono;
  border: none;
  margin-top: 14px;
  margin-left: 8px;
}
.marketplace__filter_left > h3 {
  font-size: 22px;
  font-weight: 600;
}
.marketplace__filter_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35%;
  padding: 0px 30px;
}
.marketplace__filter_right > button {
  border-radius: 20px;
  background: #3b3b3b;
  padding: 3px 6px;
  width: 45px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  font-family: Space Mono;
  border: none;
  margin-top: 14px;
  margin-left: 8px;
}
.marketplace__filter_right > h3 {
  font-size: 22px;
  font-weight: 600;
  color: #858584;
}
.marketplace__cards_blog {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3b3b3b;
  padding-bottom: 70px;
  border-bottom: 2px solid #2b2b2b;
}
.marketplace__cards {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.marketplace__card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 469px;
  border-radius: 20px;
  background: #2b2b2b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.marketplace__card:hover {
  max-width: 310px;
}
.marketplace__card_content {
  padding: 20px 30px 25px;
}
.marketplace__card_title {
  margin: 0px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.marketplace__avatar_name {
  font-family: "Space Mono";
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 16px;
}
.marketplace__card_text {
  margin-top: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.marketplace__card_text_item {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
}

.marketplace__none {
  display: none;
}
/* marketplace styles end */
/*? footer styles start */
.content {
  background: #3b3b3b;
  padding: 40px 195px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #858584;
  padding-bottom: 27px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__title {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.footer__text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  margin: 7px 0px;
}
.footer__icons {
  width: 158px;
  height: 32px;
}
.footer__btn_control {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.footer__btn_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  width: 250px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.footer__btn_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 170px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: none;
  margin-left: -50px;
  font-weight: 600;
  color: #ffffff;
}
.footer__end {
  color: #cccccc;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}
/*? footer styles end */

/* !Adaptive */

@media all and (max-width: 1449px) {
  .all_content {
    padding: 80px 100px;
  }
  .navbar__button {
    width: 120px;
    height: 45px;
    padding: 0px 10px;
    margin-top: 7px;
  }
}
@media all and (max-width: 1327px) {
  .all_content {
    padding: 80px 50px;
  }
  .marketplace__search {
    width: 900px;
  }
  .marketplace__search_logo {
    margin-top: 20px;
  }
}

@media all and (max-width: 1317px) {
  .content {
    padding: 40px 150px;
  }
}
@media all and (max-width: 1237px) {
  .navbar__left {
    width: 60% !important;
  }
  .content {
    padding: 40px 130px;
  }
  .marketplace__title {
    font-size: 47px;
  }
  .all_content {
    padding: 80px 80px;
    width: 900px;
  }
}
@media all and (max-width: 1172px) {
  .content {
    padding: 40px 90px;
  }
}
@media all and (max-width: 1129px) {
  .all_content {
    padding: 80px 60px;
    width: 850px;
  }
}
@media all and (max-width: 1097px) {
  .content {
    padding: 40px 70px;
  }
}
@media all and (max-width: 1079px) {
  .navbar__left {
    width: 70% !important;
  }
}
@media all and (max-width: 1055px) {
  .content {
    padding: 40px 40px;
  }
  .marketplace__search {
    width: 750px;
  }
  .all_content {
    padding: 80px 0px 80px 60px;
    width: 800px;
  }
}
@media all and (max-width: 1003px) {
  .navbar__list {
    display: none;
  }
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    display: block;
    width: 50px;
    height: 50px;
  }
  .navbar__button {
    width: 130px;
    height: 40px;
    padding: 0px 30px 0px 30px;
    font-size: 13px;
  }
  .navbar__button > img {
    width: 25%;
  }
}
@media all and (max-width: 994px) {
  .navbar__left {
    margin-top: 10px;
  }
  .container {
    margin: 0px 50px;
  }
  .content {
    padding: 40px 100px;
  }
  footer {
    flex-direction: column;
  }
}
@media all and (max-width: 932px) {
  .marketplace__title {
    font-size: 42px;
  }
  .marketplace__search {
    width: 650px;
  }
  .marketplace__cards {
    width: 80%;
  }
  .all_content {
    width: 750px;
  }
}
@media all and (max-width: 858px) {
  .marketplace__title {
    font-size: 40px;
  }
  .marketplace__desc {
    font-size: 20px;
  }
  .marketplace__search {
    width: 600px;
  }
  .marketplace__cards {
    width: 80%;
  }
  .all_content {
    padding: 80px 0px 80px 50px;
    width: 700px;
  }
}
@media all and (max-width: 801px) {
  .marketplace__search {
    width: 600px;
  }
  .marketplace__cards {
    width: 90%;
  }
  .all_content {
    padding: 80px 0px 80px 50px;
    width: 650px;
  }
}
@media all and (max-width: 775px) {
  .content {
    padding: 40px 50px;
  }
}
@media all and (max-width: 768px) {
  .container {
    margin: 0px 30px;
  }
}
@media all and (max-width: 736px) {
  .marketplace__search {
    width: 550px;
  }
  .marketplace__desc {
    font-size: 18px;
  }
  .marketplace__cards {
    width: 97%;
  }
  .all_content {
    padding: 80px 0px 80px 50px;
    width: 600px;
  }
}
@media all and (max-width: 685px) {
  .marketplace__search {
    width: 500px;
  }
  .all_content {
    padding: 80px 0px 80px 30px;
  }
}
@media all and (max-width: 663px) {
  .all_content {
    width: 550px;
  }
  .marketplace__cards {
    display: none;
  }
  .marketplace__none {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
@media all and (max-width: 613px) {
  .all_content {
    width: 500px;
    padding: 50px 0px 60px 10px;
  }
  .marketplace__search {
    width: 450px;
  }
  .marketplace__title {
    font-size: 36px;
  }
  .marketplace__desc {
    font-size: 16px;
  }
  .marketplace__input {
    padding-right: 0px;
    width: 90%;
  }
}
@media all and (max-width: 579px) {
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 110px;
    height: 40px;
    font-size: 10px;
    padding: 0px 18px;
  }
  .footer__btn_control {
    flex-direction: column;
    align-items: center;
  }
  .footer__btn_first {
    width: 200px;
    padding: 16px 0px 16px 14px;
  }
  .footer__btn_second {
    width: 140px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px 30px;
  }
}
@media all and (max-width: 543px) {
  .all_content {
    width: 450px;
  }
  .marketplace__search {
    width: 400px;
  }
  .marketplace__filter_left > h3 {
    font-size: 20px;
  }
  .marketplace__filter_left > button {
    padding: 3px 0px;
    width: 39px;
    height: 31px;
  }
  .marketplace__filter_right > h3 {
    font-size: 20px;
  }
  .marketplace__filter_right > button {
    padding: 3px 0px;
    width: 39px;
    height: 31px;
  }
}
@media all and (max-width: 492px) {
  .all_content {
    width: 400px;
  }
  .marketplace__search {
    width: 380px;
  }
}
@media all and (max-width: 445px) {
  .all_content {
    width: 350px;
    padding: 50px 0px 30px 10px;
  }
  .marketplace__input {
    width: 86%;
  }
  .marketplace__search {
    width: 330px;
  }
  .marketplace__title {
    font-size: 30px;
  }
  .marketplace__filter_left > h3 {
    font-size: 18px;
  }

  .marketplace__filter_right > h3 {
    font-size: 18px;
  }
}
@media all and (max-width: 418px) {
  .content {
    padding: 24px 20px;
  }
}
@media all and (max-width: 394px) {
  .all_content {
    width: 320px;
    padding: 50px 0px 30px 0px;
  }

  .marketplace__search {
    width: 300px;
  }
}
@media all and (max-width: 372px) {
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 70px;
    height: 30px;
    padding: 0px 0px 0px 12px;
  }
  .navbar__title > a {
    font-size: 13px;
  }
  .navbar__left {
    margin-top: 15px;
  }
  .container {
    margin: 0px 20px;
  }
}
@media all and (max-width: 345px) {
  .all_content {
    width: 300px;
    padding: 30px 0px 30px 0px;
  }
  .marketplace__title {
    font-size: 28px;
  }
  .marketplace__search {
    width: 290px;
  }
}
