body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2% 0px;
}

/* navbar styles start */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  width: 15%;
}
.navbar__title > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin: 0px !important;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.list__item > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.list__item > a:hover {
  color: #a259ff;
  font-weight: 400;
  transition: 0.8s;
}

.navbar__button {
  display: flex;
  width: 130px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 0px 20px;
  background-color: #a259ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
}
.navbar__button > img {
  width: 27%;
  margin-right: 5%;
}
.navbar__btn_burger {
  display: none;
}
.navbar__left > a {
  text-decoration: none;
}
/* navbar styles end */
/*  burger-menu styles start */
.burger-menu {
  display: none;
  width: 98%;
  background-color: #363638;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  left: 1%;
  border-radius: 10px;
  border: 2px solid white;
  height: min-content;
}

.burger-menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__btn_close {
  width: 4%;
  height: 4%;
  cursor: pointer;
  margin: 4% 0;
}
.burger-menu__input {
  width: 30%;
  height: 20%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

.burger-menu__list {
  list-style-type: none;
  padding: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__item > a {
  text-decoration: none;
  color: white;
}

/*  burger-menu styles end */

.all_content {
  padding: 40px 200px;
}
/* orbitians styles start */
.orbitians_img {
  display: flex;
  width: 100%;
  height: 580px;
}
.orbitians_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.orbitians_info {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.orbitians_info > h2 {
  font-size: 51px;
  font-weight: 600;
  margin: 0px;
}
.orbitians_info > h5 {
  font-size: 22px;
  line-height: 160%;
  color: #858584;
  margin-top: 15px;
}
.orbitians_info_start > h4 {
  color: #858584;
  font-size: 22px;
  font-weight: 700;
  font-family: Space Mono;
  margin-top: 10px;
  margin-bottom: 0px;
}
.orbitians_info_text {
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
}
.orbitians_info_desc > h4 {
  color: #858584;
  font-size: 22px;
  font-weight: 700;
  font-family: Space Mono;
  margin-top: 10px;
  margin-bottom: 0px;
}
.orbitians_desc_start {
  font-size: 22px;
  margin-top: 7px;
}
.orbitians_desc_center {
  font-size: 22px;
  margin-top: 25px;
}
.orbitians_desc_end {
  font-size: 22px;
  margin-top: 25px;
}
.orbitians_info_details > h4 {
  color: #858584;
  font-size: 22px;
  font-weight: 700;
  font-family: Space Mono;
  margin-top: 10px;
  margin-bottom: 0px;
}
.orbitians_info_href {
  font-size: 22px;
  margin: 10px;
  margin-left: 10px;
}
.orbitians_info_tags > h4 {
  color: #858584;
  font-size: 22px;
  font-weight: 700;
  font-family: Space Mono;
  margin: 10px 0px;
}
.orbitians_info_btn {
  height: 46px;
  padding: 0px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 140%;
  border-radius: 20px;
  background-color: #3b3b3b;
  color: #ffffff;
  border: none;
  margin-top: 15px;
}
.orbitians_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  padding: 30px;
  background-color: #3b3b3b;
  height: 190px;
  border-radius: 20px;
}
.orbitians_right_btn {
  height: 60px;
  width: 235px;
  border-radius: 20px;
  background-color: #a259ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}

.orbitians__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.orbitians__content_name {
  font-size: 38px;
  font-weight: 600;
}
.orbitians__content_btn {
  width: 268px;
  height: 60px;
  padding: 0px 50px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}
.orbitians__card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 469px;
  border-radius: 20px;
  background: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.orbitians__card:hover {
  max-width: 310px;
}
.orbitians__card2 {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 469px;
  border-radius: 20px;
  background: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.orbitians__card2:hover {
  max-width: 310px;
}
.orbitians__card3 {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 469px;
  border-radius: 20px;
  background: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.orbitians__card3:hover {
  max-width: 310px;
}
.orbitians__card_content {
  padding: 20px 30px 25px;
}
.orbitians__card_title {
  margin: 0px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.orbitians__avatar_name {
  font-family: "Space Mono";
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 16px;
}
.orbitians__card_text {
  margin-top: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.orbitians__card_text_item {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0px;
}
/* orbitians styles end */

/*? footer styles start */
.content {
  background: #3b3b3b;
  padding: 40px 195px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #858584;
  padding-bottom: 27px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__title {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.footer__text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  margin: 7px 0px;
}
.footer__icons {
  width: 158px;
  height: 32px;
}
.footer__btn_control {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.footer__btn_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  width: 250px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.footer__btn_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 170px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: none;
  margin-left: -50px;
  font-weight: 600;
  color: #ffffff;
}
.footer__end {
  color: #cccccc;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}
/*? footer styles end */

/* !Adaptive */
@media all and (max-width: 1317px) {
  .content {
    padding: 40px 150px;
  }
}
@media all and (max-width: 1237px) {
  .navbar__left {
    width: 60% !important;
  }
  .content {
    padding: 40px 130px;
  }
}
@media all and (max-width: 1172px) {
  .content {
    padding: 40px 90px;
  }
}
@media all and (max-width: 1097px) {
  .content {
    padding: 40px 70px;
  }
}
@media all and (max-width: 1079px) {
  .navbar__left {
    width: 70% !important;
  }
}
@media all and (max-width: 1055px) {
  .content {
    padding: 40px 40px;
  }
}
@media all and (max-width: 1003px) {
  .navbar__list {
    display: none;
  }
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    display: block;
    width: 50px;
    height: 50px;
  }
  .navbar__button {
    width: 130px;
    height: 40px;
    padding: 0px 30px 0px 30px;
    font-size: 13px;
  }
  .navbar__button > img {
    width: 25%;
  }
}
@media all and (max-width: 994px) {
  .container {
    margin: 0px 50px;
  }
  .content {
    padding: 40px 100px;
  }
  footer {
    flex-direction: column;
  }
}
@media all and (max-width: 775px) {
  .content {
    padding: 40px 50px;
  }
}
@media all and (max-width: 768px) {
  .container {
    margin: 0px 30px;
  }
}
@media all and (max-width: 579px) {
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 118px;
    height: 44px;
    font-size: 10px;
  }
  .footer__btn_control {
    flex-direction: column;
    align-items: center;
  }
  .footer__btn_first {
    width: 200px;
    padding: 16px 0px 16px 14px;
  }
  .footer__btn_second {
    width: 140px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px 30px;
  }
}
@media all and (max-width: 418px) {
  .content {
    padding: 24px 20px;
  }
}
@media all and (max-width: 372px) {
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 70px;
    height: 30px;
    padding: 0px 0px 0px 12px;
  }
  .navbar__title > a {
    font-size: 13px;
  }
  .container {
    margin: 0px 20px;
  }
  .footer__left {
    padding-right: 30px;
  }
}
