body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2% 0px;
}

/* navbar styles start */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  width: 15%;
}
.navbar__title > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin: 0px !important;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.list__item > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.list__item > a:hover {
  color: #a259ff;
  font-weight: 400;
  transition: 0.8s;
}

.navbar__button {
  display: flex;
  width: 135px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 0px 15px;
  background-color: #a259ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
}
.navbar__button > img {
  width: 27%;
  margin-right: 5%;
}
.navbar__btn_burger {
  display: none;
}
.navbar__left > a {
  text-decoration: none;
}

/* navbar styles end */
/*  burger-menu styles start */
.burger-menu {
  display: none;
  width: 98%;
  background-color: #363638;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  left: 1%;
  border-radius: 10px;
  border: 2px solid white;
  height: min-content;
}

.burger-menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__btn_close {
  width: 4%;
  height: 4%;
  cursor: pointer;
  margin: 4% 0;
}
.burger-menu__input {
  width: 30%;
  height: 20%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

.burger-menu__list {
  list-style-type: none;
  padding: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__item > a {
  text-decoration: none;
  color: white;
}

/*  burger-menu styles end */

.all_content {
  padding: 80px 160px;
}

/* rankings styles start */
.rankings_blog {
  display: flex;
  flex-direction: column;
}
.rankings_title {
  font-size: 51px;
  font-weight: 600;
  margin: 0px;
}
.rankings_desc {
  font-size: 22px;
}
.rankings_filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}
.rankings_filter_none {
  display: none;
}
.rankings_filter_active {
  font-size: 22px;
  font-weight: 600;
  width: 24%;
  border-bottom: 2px solid #858584;
  padding-bottom: 12px;
  text-align: center;
}
.rankings_filter_item {
  font-size: 22px;
  font-weight: 600;
  color: #858584;
  width: 24%;
  padding-bottom: 12px;
  text-align: center;
}
.rankings_cards {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.rankings_card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
  padding: 0px 12px;
  height: 46px;
  align-items: center;
}
.rankings_card_artist_number {
  background-color: #2b2b2b;
  padding: 10px 11px;
  border-radius: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  color: #858584;
}
.rankings_card_artist {
  font-size: 16px;
  font-family: Space Mono;
  color: #858584;
}
.rankings_card_desc {
  font-size: 16px;
  font-family: Space Mono;
  color: #858584;
  width: 30%;
  margin: 0px;
}
.rankings_card_desc_center {
  font-size: 16px;
  font-family: Space Mono;
  color: #858584;
  width: 30%;
  margin: 0px;
}
.rankings_card_desc_end {
  font-size: 16px;
  font-family: Space Mono;
  color: #858584;
  width: 30%;
  margin: 0px;
}
.rankings_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 12px 10px;
  border-radius: 20px;
  background-color: #3b3b3b;
  height: 60px;
  margin-top: 20px;
}
.rankings_card_number {
  background-color: #2b2b2b;
  padding: 2px 9px;
  border-radius: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  color: #858584;
  display: flex;
  margin-right: 15px;
}
.rankings_card_name {
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
}
.rankings_card_text_change {
  color: #00ac4f;
  font-size: 16px;
  font-family: Space Mono;
  width: 30%;
}
.rankings_card_text_center {
  font-size: 16px;
  font-family: Space Mono;
  width: 30%;
}
.rankings_card_text_end {
  font-size: 16px;
  font-family: Space Mono;
  width: 30%;
}
/* rankings styles end */
/*? footer styles start */
.content {
  background: #3b3b3b;
  padding: 40px 195px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #858584;
  padding-bottom: 27px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__title {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.footer__text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  margin: 7px 0px;
}
.footer__icons {
  width: 158px;
  height: 32px;
}
.footer__btn_control {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.footer__btn_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  width: 250px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.footer__btn_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 170px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: none;
  margin-left: -50px;
  font-weight: 600;
  color: #ffffff;
}
.footer__end {
  color: #cccccc;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}
/*? footer styles end */

/* !Adaptive */
@media all and (max-width: 1343px) {
  .navbar__button {
    width: 125px;
  }
}
@media all and (max-width: 1317px) {
  .content {
    padding: 40px 150px;
  }
}
@media all and (max-width: 1237px) {
  .navbar__left {
    width: 60% !important;
  }
  .content {
    padding: 40px 130px;
  }
}
@media all and (max-width: 1172px) {
  .content {
    padding: 40px 90px;
  }
  .all_content {
    padding: 80px 120px;
  }
  .rankings_card_name {
    font-size: 20px;
  }
}
@media all and (max-width: 1097px) {
  .content {
    padding: 40px 70px;
  }
  .rankings_card_name {
    font-size: 18px;
  }
}
@media all and (max-width: 1079px) {
  .navbar__left {
    width: 70% !important;
  }
}
@media all and (max-width: 1055px) {
  .content {
    padding: 40px 40px;
  }
}
@media all and (max-width: 1055px) {
  .all_content {
    padding: 80px 100px;
  }
}
@media all and (max-width: 1003px) {
  .navbar__list {
    display: none;
  }
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    display: block;
    width: 50px;
    height: 50px;
  }
  .navbar__button {
    width: 130px;
    height: 40px;
    padding: 0px 30px 0px 30px;
    font-size: 13px;
  }
  .navbar__button > img {
    width: 25%;
  }
  .rankings_title {
    font-size: 46px;
  }
  .rankings_desc {
    font-size: 20px;
  }
  .rankings_filter_active {
    font-size: 20px;
  }
  .rankings_filter_item {
    font-size: 20px;
  }
  .all_content {
    padding: 80px 80px;
  }
}
@media all and (max-width: 994px) {
  .container {
    margin: 0px 50px;
  }
  .content {
    padding: 40px 100px;
  }
  footer {
    flex-direction: column;
  }
}
@media all and (max-width: 949px) {
  .all_content {
    padding: 80px 60px;
  }
  .rankings_card_name {
    font-size: 16px;
  }
}
@media all and (max-width: 949px) {
  .all_content {
    padding: 80px 60px;
  }
  .rankings_card_name {
    font-size: 16px;
  }
}
@media all and (max-width: 841px) {
  .all_content {
    padding: 80px 0px;
  }
  .rankings_card_desc_center {
    display: none;
  }
  .rankings_card_text_center {
    display: none;
  }
  .rankings_card_desc {
    width: 50%;
    text-align: center;
  }
  .rankings_card_desc_end {
    width: 50%;
    text-align: center;
  }
  .rankings_card_text_change {
    width: 50%;
    text-align: center;
  }
  .rankings_card_text_end {
    width: 50%;
    text-align: center;
  }
  .rankings_filter_active {
    font-size: 18px;
  }
  .rankings_filter_item {
    font-size: 18px;
  }
  .rankings_title {
    font-size: 40px;
  }
  .rankings_desc {
    font-size: 18px;
  }
}
@media all and (max-width: 775px) {
  .content {
    padding: 40px 50px;
  }
}
@media all and (max-width: 768px) {
  .container {
    margin: 0px 50px;
  }
}
@media all and (max-width: 718px) {
  .card_control_text {
    width: 40% !important;
  }
  .control_text {
    width: 40% !important;
  }
}
@media all and (max-width: 592px) {
  .rankings_title {
    font-size: 35px;
  }
  .rankings_desc {
    font-size: 16px;
  }
  .rankings_card_desc {
    display: none;
  }
  .rankings_card_text_change {
    display: none;
  }
  .rankings_card_desc_end {
    margin-left: 40px;
  }
  .rankings_card_text_end {
    margin-left: 40px;
  }
  .rankings_card_name {
    font-weight: 400;
  }
  .rankings_filter {
    display: none;
  }
  .rankings_filter_none {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }
}
@media all and (max-width: 579px) {
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 118px;
    height: 44px;
    font-size: 10px;
  }
  .footer__btn_control {
    flex-direction: column;
    align-items: center;
  }
  .footer__btn_first {
    width: 200px;
    padding: 16px 0px 16px 14px;
  }
  .footer__btn_second {
    width: 140px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px 30px;
  }
}
@media all and (max-width: 541px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .rankings_desc {
    font-size: 22px;
  }
  .navbar__button {
    width: 90px;
    height: 30px;
    padding: 0px 12px;
    margin-top: 15px;
  }
}
@media all and (max-width: 418px) {
  .content {
    padding: 24px 20px;
  }
  .rankings_desc {
    font-size: 18px;
  }
  .rankings_card_text_end {
    margin-left: 15px;
  }
  .footer__left {
    padding-right: 30px;
  }
}
@media all and (max-width: 372px) {
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__title > a {
    font-size: 13px;
  }
  .container {
    margin: 0px 20px;
  }
  .rankings_filter_item {
    font-size: 16px;
  }
  .rankings_filter_active {
    font-size: 16px;
  }
  .rankings_card_name {
    font-size: 14px;
  }
}
