body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2% 0px;
}

/* navbar styles start */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  width: 15%;
}
.navbar__title > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin: 0px !important;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.list__item > a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

/* .list__item > a:hover {
  color: #5454d4;
  font-weight: 500;
  transition: 0.8s;
} */

.navbar__button {
  display: flex;
  width: 152px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 0px 30px 0px 30px;
  background-color: #a259ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
}
.navbar__button > img {
  width: 27%;
  margin-right: 5%;
}
.navbar__btn_burger {
  display: none;
}

/* navbar styles end */
/*  burger-menu styles start */
.burger-menu {
  display: none;
  width: 98%;
  background-color: #363638;
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  left: 1%;
  border-radius: 10px;
  border: 2px solid white;
  height: min-content;
}

.burger-menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__btn_close {
  width: 4%;
  height: 4%;
  cursor: pointer;
  margin: 4% 0;
}
.burger-menu__input {
  width: 30%;
  height: 20%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
}

.burger-menu__list {
  list-style-type: none;
  padding: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-menu__item > a {
  text-decoration: none;
  color: white;
}

/*  burger-menu styles end */

.all_content {
  width: 100%;
  padding: 80px 160px;
}
/* hero section styles start */
header {
  display: flex;
  justify-content: space-between;
}
.header__block_left {
  width: 50%;
}

.header__title_left {
  font-size: 67px;
  line-height: 73.7px;
  font-weight: 600;
}
.header__desc_left {
  font-size: 22px;
  line-height: 35.2px;
  font-weight: 400;
}
.header__btn {
  display: flex;
  width: 224px;
  height: 60px;
  border-radius: 20px;
  border: none;
  padding: 0px 30px 0px 30px;
  background-color: #a259ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
  margin-bottom: 30px;
}
.btn__icon {
  width: 10%;
  margin-right: 15px;
}

.header__item {
  font-size: 28px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}
.header__parag {
  font-size: 23px;
  font-weight: 400;
  line-height: 160%;
}
.header__block_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.header__img {
  width: 500px;
  height: 390px;
}
.header__img_bottom {
  display: flex;
  flex-direction: column;
  background: #3b3b3b;
  border-radius: 0px 0px 20px 20px;
  padding: 3% 4%;
}
.header__img_item {
  display: flex;
}
.header__avatar_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-left: 5px;
}
.header_avatar {
  width: 5%;
  height: 55%;
}

/* hero section styles end */

/* trending collection styles start */
.trending_collection {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}
.trending_collection__title {
  display: flex;
  font-weight: 600;
  font-size: 38px;
}
.trending_collection__desc {
  display: flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
  margin-bottom: 50px;
}
.trending_collection__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trending_collection__img {
  max-width: 315px;
  position: relative;
  transition: all 0.3s ease;
}
.trending_collection__img:hover {
  max-width: 310px;
}
.trending_collection_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 30.8px;
  margin-top: 15px;
}
.collection_img {
  width: 85px;
  position: relative;
  transition: all 0.3s ease;
}
.collection_img:hover {
  max-width: 80px;
}
.collection_avatar_text {
  margin-left: 5px;
}

.trending_collection_none {
  display: none;
}
.trending_collection_none_second {
  display: none;
}
/* trending collection styles end */

/* top rated artists styles start */
.top_rated_artists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 130px;
}
.top_rated_artists_title {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
.top_rated_artists_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
.top_rated_artists_btn {
  width: 247px;
  height: 60px;
  padding: 0px 50px;
  gap: 12px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  margin-top: 30px;
}
.top_rated_artists_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.top_rated_artists_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px;
  height: 238px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.top_rated_artists_card:hover {
  width: 230px;
}
.ranking_number {
  display: flex;
  position: absolute;
  background-color: #2b2b2b;
  padding: 2px 11px;
  border-radius: 20px;
  margin-right: 10%;
  font-family: "Space Mono";
  font-weight: 400;
  color: #858584;
}
.artists_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.total_sales {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
}
.additional_info {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-left: 5px;
}
/* ? adaptive styles */
.top_rated_artists_none {
  display: none;
}
.top_rated_card {
  display: flex;
  flex-direction: row;
  width: 330px;
  height: 100px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
  position: relative;
}
.ranking {
  display: flex;
  position: absolute;
  background-color: #2b2b2b;
  padding: 2px 11px;
  border-radius: 20px;
  left: 7px;
  top: 15px;
  font-family: "Space Mono";
  font-weight: 400;
  color: #858584;
}
/* top rated artists styles end */

/* browse categories styles start */
.browse_categories_blog {
  margin-top: 160px;
}
.browse_categories_title {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
.browse_categories_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.browse_categories_card {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  max-height: 310px;
  border-radius: 20px;
  background: #3b3b3b;
  position: relative;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.browse_categories_card:hover {
  max-width: 220px;
}
.browse_categories_img_first {
  filter: blur(10px);
}
.browse_categories_img_second {
  position: absolute;
  left: 65px;
  top: 65px;
}
.browse_categories_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  padding: 20px 30px 25px;
  gap: 25px;
}
/* browse categories styles end */
/* discover more NFTs styles start */
.discover_more__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 130px;
}
.discover_more__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 45.6px;
}
.discover_more__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 35.2px;
}
.discover_more__btn {
  width: 187px;
  height: 60px;
  padding: 0px 50px;
  gap: 12px;
  border: 2px solid #a259ff;
  border-radius: 20px;
  background-color: transparent;
  color: #ffffff;
  margin-top: 31px;
}
.discover_more__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.discover_more__card {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  max-height: 469px;
  border-radius: 20px;
  background: #3b3b3b;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.discover_more__card:hover {
  max-width: 300px;
}
.discover_more__card_content {
  padding: 20px 30px 25px;
}
.discover_more__card_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.discover_more__avatar_name {
  font-family: "Space Mono";
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
}
.discover_more__card_text {
  margin-top: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
.discover_more__card_text_item {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.discover_more__none {
  display: none;
}
/* discover more NFTs styles end */

/* ? NFT Highlight styles start */
.nft_highlight {
  display: flex;
  width: 100%;
  /* max-width: 100vw; */
}
/* ? NFT Highlight styles end */

/* How it works blog styles start */
.how_it_works__blog {
  display: flex;
  flex-direction: column;
}
.how_it_works__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
.how_it_works__desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}
.how_it_works__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.how_it_works__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  width: 310px;
  height: 410px;
  background: #3b3b3b;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 10px;
}
.how_it_works__card_item {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}
.how_it_works__card_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
/* How it works blog styles end */

/* Subscribe widget blog styles start */
.subscribe_widget_blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
  max-width: 1050px;
  height: 430px;
  padding: 60px;
  background: #3b3b3b;
  border-radius: 20px;
}
.subscribe_widget_img {
  width: 400px;
  height: 300px;
}
.subscribe_widget_right {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 30px;
}
.subscribe_widget_title {
  font-weight: 600;
  font-size: 38px;
}
.subscribe_widget_text {
  font-weight: 400;
  font-size: 22px;
}
.subscribe_widget_btn_control {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.subscribe_widget_btn_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  width: 425px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.subscribe_widget_btn_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 200px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: none;
  margin-left: -10px;
  font-weight: 600;
  color: #ffffff;
}
/*? footer styles start */
.content {
  background: #3b3b3b;
  padding: 40px 195px;
  width: 100%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #858584;
  padding-bottom: 27px;
}
.footer__left {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__center {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}
.footer__title {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}
.footer__text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
  margin: 7px 0px;
}
.footer__icons {
  width: 158px;
  height: 32px;
}
.footer__btn_control {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.footer__btn_first {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  width: 250px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.footer__btn_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 170px;
  height: 60px;
  background: #a259ff;
  border-radius: 20px;
  border: none;
  margin-left: -50px;
  font-weight: 600;
  color: #ffffff;
}
.footer__end {
  color: #cccccc;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}
/*? footer styles end */

@media all and (max-width: 1463px) {
  .all_content {
    padding: 60px 100px;
  }
  .header__img_bottom {
    max-width: 500px;
  }
}
@media all and (max-width: 1402px) {
  .all_content {
    width: 1200px;
    padding: 60px 0px;
  }
  .header__block_left {
    width: 40%;
  }
  .header__title_left {
    font-size: 58px;
  }
}
@media all and (max-width: 1317px) {
  .content {
    padding: 40px 150px;
  }
}
@media all and (max-width: 1287px) {
  .all_content {
    width: 1000px;
  }
}
@media all and (max-width: 1237px) {
  .navbar__left {
    width: 60% !important;
  }
  .header__title_left {
    font-size: 54px;
    line-height: 70px;
  }
  .content {
    padding: 40px 130px;
  }
}
@media all and (max-width: 1201px) {
  .header__title_left {
    font-size: 50px;
    line-height: 65px;
  }
  .header__img {
    width: 450px;
    height: 340px;
  }
  .header__img_bottom {
    width: 450px;
  }
  .trending_collection__img {
    margin-left: 10px;
  }
  .discover_more__card {
    margin-left: 10px;
  }
  .subscribe_widget_blog {
    width: 1000px;
  }
}
@media all and (max-width: 1172px) {
  .content {
    padding: 40px 90px;
  }
}
@media all and (max-width: 1097px) {
  .content {
    padding: 40px 70px;
  }
}
@media all and (max-width: 1079px) {
  .navbar__left {
    width: 70% !important;
  }
  .all_content {
    width: 900px;
  }
  .subscribe_widget_blog {
    width: 900px;
  }
  .subscribe_widget_btn_second {
    width: 180px;
  }
}
@media all and (max-width: 1055px) {
  .content {
    padding: 40px 40px;
  }
}
@media all and (max-width: 1029px) {
  .header__title_left {
    font-size: 45px;
    line-height: 60px;
  }
  .header__desc_left {
    font-size: 22px;
    line-height: 33px;
  }
  .header__img {
    width: 400px;
    height: 330px;
  }
  .header__img_bottom {
    width: 400px;
  }
  .trending_collection__content {
    display: none;
  }
  .trending_collection_none {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .top_rated_artists_cards {
    display: none;
  }
  .top_rated_artists_none {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
@media all and (max-width: 1003px) {
  .navbar__list {
    display: none;
  }
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    display: block;
    width: 50px;
    height: 50px;
  }
  .navbar__button {
    width: 130px;
    height: 40px;
    padding: 0px 30px 0px 30px;
    font-size: 13px;
  }
  .navbar__button > img {
    width: 25%;
  }
  .all_content {
    width: 800px;
  }
  .discover_more__cards {
    display: none;
  }
  .discover_more__none {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
}
@media all and (max-width: 994px) {
  .how_it_works__card {
    width: 270px;
  }
  .how_it_works__img {
    width: 220px;
  }
  .subscribe_widget_blog {
    width: 830px;
  }
  .subscribe_widget_img {
    width: 350px;
    height: 250px;
  }
  .subscribe_widget_title {
    font-size: 30px;
  }
  .subscribe_widget_text {
    font-size: 20px;
  }
  .subscribe_widget_btn_first {
    font-size: 14px;
    padding: 10px;
  }
  .container {
    margin: 0px 50px;
  }
  .content {
    padding: 40px 100px;
  }
  footer {
    flex-direction: column;
  }
  .header__title_left {
    font-size: 43px;
    line-height: 55px;
  }
  .header__desc_left {
    font-size: 20px;
    line-height: 30px;
  }
  .header__img {
    width: 380px;
    height: 300px;
  }
  .header__img_bottom {
    width: 380px;
  }
}
@media all and (max-width: 905px) {
  .all_content {
    width: 790px;
  }
  .how_it_works__card {
    width: 240px;
  }
  .how_it_works__img {
    width: 190px;
  }
  .how_it_works__card_item {
    font-size: 20px;
  }
}
@media all and (max-width: 889px) {
  .header__item {
    font-size: 24px;
  }
  .header__parag {
    font-size: 20px;
  }
  .subscribe_widget_blog {
    width: 760px;
    height: 370px;
  }
  .subscribe_widget_img {
    width: 330px;
    height: 230px;
  }
  .subscribe_widget_title {
    font-size: 27px;
  }
  .subscribe_widget_text {
    font-size: 18px;
  }
  .subscribe_widget_btn_second {
    width: 150px;
    padding: 30px;
  }
  .subscribe_widget_btn_second > img {
    display: none;
  }
}
@media all and (max-width: 868px) {
  .all_content {
    width: 730px;
  }
}
@media all and (max-width: 837px) {
  .subscribe_widget_blog {
    width: 720px;
    height: 330px;
    padding: 30px;
  }
  .subscribe_widget_img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
  }
  .subscribe_widget_title {
    font-size: 24px;
  }
}
@media all and (max-width: 812px) {
  .all_content {
    width: 690px;
  }
  .browse_categories_card {
    width: 150px;
  }
  .browse_categories_img_second {
    top: 52px;
    left: 38px;
    width: 70px;
  }
  .browse_categories_text {
    font-size: 18px;
    line-height: 22px;
    padding: 17px 12px 19px;
  }
  .header__title_left {
    font-size: 40px;
    line-height: 50px;
  }
  .header__desc_left {
    font-size: 18px;
    line-height: 25px;
  }
  .header__img {
    width: 340px;
    height: 260px;
  }
  .header__img_bottom {
    width: 340px;
  }
}
@media all and (max-width: 795px) {
  .how_it_works__card {
    width: 200px;
    height: 350px;
  }
  .how_it_works__img {
    width: 150px;
  }
  .how_it_works__card_item {
    font-size: 16px;
  }
  .how_it_works__card_text {
    font-size: 14px;
  }
}
@media all and (max-width: 775px) {
  .subscribe_widget_blog {
    width: 680px;
    height: 290px;
    padding: 20px;
  }
  .all_content {
    width: 650px;
  }
  .header__img {
    width: 320px;
    height: 240px;
  }
  .header__img_bottom {
    width: 320px;
  }
  .top_rated_artists_btn {
    width: 200px;
  }
  .content {
    padding: 40px 50px;
  }
}
@media all and (max-width: 768px) {
  .container {
    margin: 0px 30px;
  }
  .header__title_left {
    font-size: 37px;
  }
  .header__desc_left {
    font-size: 16px;
  }
  .subscribe_widget_blog {
    width: 650px;
    height: 650px;
    padding: 60px;
    flex-direction: column;
  }
  .subscribe_widget_img {
    width: 450px;
    height: 350px;
  }
  .subscribe_widget_right {
    width: 450px;
  }
  .subscribe_widget_title {
    font-size: 28px;
  }
  .trending_collection_none {
    display: none;
  }
  .trending_collection_none_second {
    display: flex;
    justify-content: center;
  }
  .trending_collection__title {
    font-size: 35px;
  }
  .trending_collection__desc {
    font-size: 20px;
  }
  .top_rated_artists_title {
    font-size: 35px;
  }
  .top_rated_artists_text {
    font-size: 20px;
  }

  .browse_categories_title {
    font-size: 35px;
  }
  .discover_more__title {
    font-size: 35px;
  }
  .discover_more__text {
    font-size: 20px;
  }
  .discover_more__card {
    width: 280px;
  }
  .all_content {
    width: 600px;
  }
  .browse_categories_card {
    margin-left: 7px;
  }
}
@media all and (max-width: 682px) {
  .how_it_works__cards {
    flex-direction: column;
  }
  .how_it_works__card {
    flex-direction: row;
    width: 550px;
    height: 200px;
  }
  .how_it_works__card_item {
    font-size: 20px;
  }
  .how_it_works__card_text {
    font-size: 16px;
  }
  .subscribe_widget_blog {
    width: 600px;
    height: 600px;
    padding: 40px;
  }
  .subscribe_widget_img {
    width: 420px;
    height: 320px;
  }
  .subscribe_widget_right {
    width: 420px;
  }
  .subscribe_widget_btn_first {
    width: 200px;
  }
}
@media all and (max-width: 655px) {
  .all_content {
    width: 500px;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  .header__block_left {
    width: 400px;
  }
  .header__title_left {
    font-size: 45px;
  }
  .header__desc_left {
    font-size: 20px;
  }
  .header__block_right {
    width: 400px;
  }
  .header__img {
    width: 400px;
    height: 320px;
  }
  .header__img_bottom {
    width: 400px;
  }
  .discover_more__none {
    flex-direction: column;
    align-items: center;
  }
  .subscribe_widget_blog {
    width: 450px;
    height: 630px;
    padding: 20px;
    background: transparent;
  }
  .subscribe_widget_btn_control {
    flex-direction: column;
    align-items: center;
  }
  .subscribe_widget_img {
    width: 370px;
    height: 270px;
  }
  .subscribe_widget_right {
    width: 400px;
  }
  .subscribe_widget_btn_first {
    width: 250px;
    font-size: 16px;
  }
  .subscribe_widget_btn_second {
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
    padding: 15px;
    margin-left: 0px;
  }
  .subscribe_widget_btn_second > img {
    display: block;
  }
  .how_it_works__card {
    width: 450px;
    height: 200px;
  }
  .how_it_works__img {
    width: 120px;
  }
  .how_it_works__card_item {
    font-size: 20px;
  }
  .how_it_works__card_text {
    font-size: 16px;
  }
}
@media all and (max-width: 579px) {
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }

  .navbar__button {
    width: 118px;
    height: 44px;
    font-size: 10px;
  }
  .all_content {
    width: 450px;
  }
  .header__title_left {
    font-size: 40px;
  }
  .header__desc_left {
    font-size: 18px;
  }
  .header__btn {
    width: 180px;
  }
  .header__list {
    width: 400px;
  }
  .top_rated_artists {
    flex-direction: column;
  }
  .discover_more__content {
    flex-direction: column;
  }
  .footer__btn_control {
    flex-direction: column;
    align-items: center;
  }
  .footer__btn_first {
    width: 200px;
    padding: 16px 0px 16px 14px;
  }
  .footer__btn_second {
    width: 140px;
    margin-left: 0px;
    margin-top: 5px;
    padding: 0px 30px;
  }
}
@media all and (max-width: 539px) {
  .all_content {
    width: 400px;
  }

  .how_it_works__card {
    width: 400px;
  }
  .how_it_works__card_text {
    font-size: 14px;
  }
  .subscribe_widget_blog {
    width: 400px;
  }
}
@media all and (max-width: 478px) {
  .all_content {
    width: 350px;
  }
  .header__block_left {
    width: 350px;
  }
  .header__title_left {
    font-size: 40px;
  }
  .header__desc_left {
    font-size: 18px;
  }
  .header__block_right {
    width: 350px;
  }
  .header__list {
    width: 300px;
  }
  .header__img {
    width: 300px;
    height: 220px;
  }
  .header__img_bottom {
    width: 300px;
  }
  .how_it_works__card {
    width: 350px;
    height: 150px;
    padding: 5px 11px;
  }
  .how_it_works__img {
    width: 100px;
  }
  .how_it_works__card_item {
    font-size: 18px;
  }
  .how_it_works__card_text {
    font-size: 14px;
  }
  .subscribe_widget_blog {
    width: 350px;
    margin-top: 50px;
  }
  .subscribe_widget_img {
    width: 280px;
    height: 270px;
  }
  .subscribe_widget_right {
    width: 350px;
  }
}
@media all and (max-width: 418px) {
  .all_content {
    width: 300px;
  }
  .header__block_left {
    width: 300px;
  }
  .header__title_left {
    font-size: 35px;
  }
  .header__desc_left {
    font-size: 16px;
  }
  .header__block_right {
    width: 300px;
  }
  .header__list {
    width: 250px;
  }
  .header__item {
    font-size: 18px;
  }
  .header__parag {
    font-size: 16px;
  }
  .header__img {
    width: 250px;
    height: 180px;
  }
  .header__img_bottom {
    width: 250px;
  }
  .trending_collection__title {
    font-size: 30px;
    margin-top: 20px;
  }
  .top_rated_artists_title {
    font-size: 30px;
    margin-top: 0px;
  }
  .browse_categories_title {
    font-size: 30px;
    margin-top: 0px;
  }
  .discover_more__title {
    font-size: 30px;
    margin-top: 0px;
  }
  .how_it_works__title {
    font-size: 30px;
  }
  .how_it_works__desc {
    font-size: 20px;
  }
  .how_it_works__card {
    width: 300px;
    height: 150px;
    padding: 5px 11px;
  }
  .how_it_works__img {
    width: 80px;
  }
  .how_it_works__card_item {
    font-size: 16px;
  }
  .how_it_works__card_text {
    font-size: 12px;
  }
  .subscribe_widget_blog {
    width: 300px;
  }
  .subscribe_widget_img {
    width: 280px;
    height: 270px;
  }
  .subscribe_widget_right {
    width: 300px;
  }
  .subscribe_widget_title {
    font-size: 25px;
  }
  .content {
    padding: 24px 20px;
  }
}
@media all and (max-width: 372px) {
  .navbar__left {
    width: 40% !important;
  }
  .navbar__btn_burger {
    width: 30px;
    height: 30px;
  }
  .navbar__button {
    width: 70px;
    height: 30px;
    padding: 0px 0px 0px 12px;
  }
  .navbar__title > a {
    font-size: 13px;
  }
  .container {
    margin: 0px 20px;
  }
  .all_content {
    width: 270px;
  }
  .header__block_left {
    width: 270px;
  }
  .header__title_left {
    font-size: 30px;
  }
  .header__desc_left {
    font-size: 16px;
  }
  .header__block_right {
    width: 270px;
    margin-left: 0px;
  }
  .header__list {
    width: 200px;
  }
  .header__item {
    font-size: 16px;
  }
  .header__parag {
    font-size: 14px;
  }
  .header__img {
    width: 270px;
    height: 210px;
  }
  .header__img_bottom {
    width: 270px;
  }
  .trending_collection {
    width: 270px;
    margin-top: 50px;
  }
  .trending_collection__title {
    font-size: 28px;
    margin-top: 0px;
  }
  .trending_collection__desc {
    font-size: 18px;
  }
  .trending_collection__img {
    width: 270px;
  }
  .top_rated_artists {
    margin-top: 50px;
  }
  .top_rated_artists_title {
    font-size: 28px;
  }
  .top_rated_artists_text {
    font-size: 18px;
  }
  .top_rated_artists_btn {
    padding: 0px 20px;
  }
  .artists_text {
    font-size: 18px;
  }
  .ranking {
    left: 1px;
    top: 5px;
    padding: 0px 8px;
  }
  .top_rated_card {
    padding: 14px;
    height: 85px;
  }
  .total_sales {
    font-size: 14px;
  }
  .additional_info {
    font-size: 14px;
  }
  .browse_categories_blog {
    margin-top: 50px;
  }
  .browse_categories_title {
    font-size: 28px;
  }
  .browse_categories_card {
    width: 250px;
    margin-left: 30px;
  }
  .browse_categories_img_second {
    top: 74px;
    left: 60px;
    width: 99px;
  }
  .browse_categories_text {
    font-size: 22px;
    padding: 15px 24px 19px;
  }
  .discover_more__content {
    margin-top: 50px;
  }
  .discover_more__title {
    font-size: 28px;
  }
  .how_it_works__title {
    font-size: 28px;
  }
  .how_it_works__desc {
    font-size: 18px;
  }
  .how_it_works__card {
    width: 270px;
    height: 170px;
  }
  .subscribe_widget_blog {
    width: 270px;
  }
  .subscribe_widget_img {
    width: 250px;
    height: 270px;
  }
  .subscribe_widget_right {
    width: 250px;
  }
  .subscribe_widget_title {
    font-size: 22px;
  }
  .subscribe_widget_text {
    font-size: 16px;
  }
}
